*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 100%;
    font-family: sans-serif;
}
div, section, span, ul, li, a{
   box-sizing: border-box;
}
/* CSS reset */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:   20px 1400px;
    position: fixed;
    z-index: 999;
}
#menu li{
    list-style: none;
    display: inline-block;
    margin:20px;
}
#menu li a{
    color: #0e0101;
    text-decoration: none;
    font-size: 20px;
}
section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}
#home{
   background-color: #eebcf3;
}
#about{
   background-color: #f7bebd;
}
#product{
   background-color: #9c7a88;
}
#contact{
    background-color: #dadfb5;
}
h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50);
    color:#0c0000;
}
img{
    height: 16rem;
    width: 16rem;
    margin:auto;
}
#design-collection{
    margin:4rem;
}
.card {
    text-align: center;
    border: rgb(27, 26, 26) solid 1px;
    padding: 1rem;
    width: 21rem;
    height: 26rem;
    display: inline-grid;
    margin: 2rem;
    box-shadow: 3px 4px #5a0408 
}
