@media(max-width: 767px){
#home, #about,#product, #contact,#menu, #design-collection
{
  width:100%;
  padding:10px;
  margin: 0 auto;  
}
}
@media (max-width : 767px){
    body{
        margin:0;
        padding:0;
    }
    main{
        max-width: 100%;
        margin: 0 auto;
        padding:10px;
    }
}
@media(max-width : 767px){
    nav, ul, li{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
    }
}
@media (max-width: 767px) {
    address, #contact-form {
      margin: 2rem;
      padding: 10px;
    }

    #contact-form input,
    #contact-form textarea {
      margin-bottom: 10px;
    }
  }
main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #5e5d5b;
    background-image: #2d2d2d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: #923604;
    padding: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    margin-left: 10px;
}
li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:#faf4f8;
}
.nav-link:hover{
    color: var(--mount-meadow) !important;
}
section{
    padding: 20px;
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    display: block;
}
/* .home-content{
  height: 20vh;
}
.about-content{
  height: 30vh;
}
.product-content{
  height: 50vh;
}
.contact-content{
  height: 50vh;
} */
#home{
   background-color: #923604;
   border: 2px solid rgb(237, 232, 230);
}
#about{
   background-color: #923604;
   border: 2px solid rgb(237, 232, 230);
   padding: 20px;
}
#product{
   background-color: #923604;
   border: 2px solid rgb(237, 232, 230);
   overflow-x: scroll;
}
#contact{
    background-color: #923604;
    border: 2px solid rgb(237, 232, 230)
}
h1{
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #ccc;
}
img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-bottom: 10px;
}
#design-collection{
    margin:2rem;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card {
      text-align: center;
      width: 300px; 
      border: 1px solid rgb(237, 232, 230);
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      box-shadow: 0 2px 4px rgba(15, 11, 11, 0.1);
      /* display: inline-grid;   */
      display: flex; 
      flex-direction: column;
}  
.card h2 {
    font-size: 20px; 
    margin-bottom: 10px;
  }
.card p{
    font-size: 16px;
    font-weight: 200;
}
address{
  margin-bottom: 1rem;
}
#contact-form input,
  #contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #contact-form button:hover {
    background-color: #45a049;
  }
  p{
    font-size: 2em;
    color: #ccc;
    margin: 0;
  }
  span{
    font-size: xx-large;
    font-weight: bolder;
    color: gold;
  }